<h2>Users:</h2>
<md-card *ngFor="let user of users">
    <div class="item username">
        <span class="label">Username: </span>{{user.username}}
    </div>
    <div class="item email">
        <span class="label">Email: </span><a href="mailto:{{user.email}}">{{user.email}}</a>
    </div>
    <div class="item phone">
        <span class="label">Phone: </span><a href="tel:{{user.phone}}">{{user.phone}}</a>
    </div>
    <div class="item company">
        <span class="label">Company: </span>{{user.company}}
    </div>
    <div class="item readPosts">
        <button md-button md-raised-button
                [routerLink]="['/posts', user.id]">Read user's posts</button>
    </div>
</md-card>

